<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!--    custom CSS files-->
    <link rel="stylesheet" href="../static/css/style.css" th:href=@{/css/style.css}>
    <link rel="stylesheet" href="/resources/static/css/footer.css" th:href=@{/css/footer.css}>
    <!--    fontAwesome CSS-->
    <link href='https://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet' th:href="@{https://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css}" />
</head>

<body>

    <div th:fragment="footer">
        <div class="col-sm-12">
            <div class="about">
                <hr/>
                <p>Don't want to miss a single article? Follow us on other media platforms.</p>
                <div class="social-media">
                    <ul class="list-inline">
                        <li><a href="https://www.facebook.com/djurobrah" title=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/djuro_brah/" title=""><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://github.com/djurobrah/IT355-DZ" title=""><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
                <hr/>
            </div>
        </div>
    </div>
</body>

</html>
