<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head"></head>

<body>
    <div th:replace="layout :: navbar"></div>

    <div id="content" class="comtainer jumbotron">
        <div class="container">
            <h1 class="display-3">Welcome to A3STH3TICS</h1>
            <p>Want to achieve the physique of the gods? This is the blog for you.
                <br>Read the highest quality articles writen by our A3STH3TIC authors.
                <br>Your journey to godhood begins here!
            </p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Register an account »</a></p>
        </div>
    </div>

    <div th:replace="layout :: footer"></div>
</body>

</html>
