<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head"></head>

<body>
    <div th:replace="layout :: navbar"></div>

    <hr/>
    <div id="content" class="container">
        <h1 th:if="${user != null}" th:text="${'Posts by ' + user.username + ' :'}">Posts by X</h1>
        <h1 th:if="${user == null}">Latest posts:</h1>
        <hr/>



        <div th:each="article : ${articles}">
            <h1><a th:text="${article.title}" href="articleView.html" th:href="|@{/articles/view/}${article.slug}|">Article title</a></h1>
            <p th:text="|Created by ${article.user.username} on ${#calendars.format(article.posted,'M/dd/yyyy hh:mm')}|">
                Created by Username on M/dd/yy hh:mm
            </p>
            <!--        section tag and th:utext so that it renders html5-->
            <section th:utext="${article.teaser}">
                Article teaser here.
            </section>
            <!--        divider-->
            <hr/>
        </div>
        <p>
            <a th:if="${user != null}" class="btn btn-primary btn-lg" href="users.html" th:href="@{/users/}" role="button">« Back to users</a>
        </p>
    </div>

    <div th:replace="layout :: footer"></div>
</body>

</html>
