<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head"></head>

<body>
    <div th:replace="layout :: navbar"></div>

    <hr/>
    <div id="content" class="container">

        <div th:if="${currentUser}">
            <h4 class="text-muted" th:if="${!currentUser.isPremium()}">You are not seeing premium articles.<br> Post quality articles and admins will grant you premium user status.</h4>
        </div>


        <h1 th:if="${user != null}" th:text="${'Posts by ' + user.username + ' :'}">Posts by X</h1>
        <h1 th:if="${user == null}">Latest articles:</h1>
        <hr/>



        <div th:each="article : ${articles}">
            <div th:if="${currentUser.isPremium() or (!currentUser.isPremium() and article.isAllowed())}">
                <h1><a th:text="${article.title}" href="articleView.html" th:href="|@{/articles/}${article.slug}|">Article title</a>
                </h1>
                <span th:if="${article.isApproved()}" class="badge badge-primary">Premium</span>
                <p th:text="|Created by ${article.user.username} on ${#calendars.format(article.posted,'M/dd/yyyy hh:mm')}|">
                    Created by Username on M/dd/yy hh:mm
                </p>
                <!--        section tag and th:utext so that it renders html5-->
                <section th:utext="${article.teaser}">
                    Article teaser here.
                </section>
                <!--        divider-->
                <hr/>
            </div>
        </div>
        <p>
            <a th:if="${user != null}" class="btn btn-primary btn-lg" href="users.html" th:href="@{/users/}" role="button">« Back to users</a>
        </p>
    </div>

    <div th:replace="layout :: footer"></div>
</body>

</html>
