<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head"></head>


<body>
    <div th:replace="layout :: navbar"></div>

    <div id="content" class="container">
        <!-- Introduction Row -->
        <h1 class="my-4">A3STH3TIC
            <small>authors</small>
        </h1>
        <p>Only the most aesthetic beings of the human race are presented here.
            <br> They write articles so you can become one of them!
        </p>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-4 col-sm-6 text-center mb-4" th:each="author : ${authors}">
                <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
                <h3 th:text="${author.name}">Author name</h3>
                <p th:text="${author.about}">What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
        </div>
    </div>

    <div th:replace="layout :: footer"></div>
</body>

</html>
