<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>a3sth3tics</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!--    custom CSS files-->
    <link rel="stylesheet" href="../static/css/style.css" th:href=@{/css/style.css}>
    <link rel="stylesheet" href="../static/css/footer.css" th:href=@{/css/footer.css}>
    <!--    fontAwesome CSS-->
    <link href='https://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet' th:href="@{https://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css}" />
</head>


<body>
    <!--    thymeleaf fragment-->
    <div th:replace="fragments/navbar :: navbar">&nbsp;</div>

    <div class="container">
        <!-- Introduction Row -->
        <h1 class="my-4">A3STH3TIC
            <small>authors</small>
        </h1>
        <p>Only the most aesthetic beings of the human race are presented here.
            <br> They write articles so you can become one of them!
        </p>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-4 col-sm-6 text-center mb-4" th:each="author : ${authors}">
                <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
                <h3 th:text="${author.name}">Author name</h3>
                <p th:text="${author.about}">What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer">&nbsp;</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>

</html>
