<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head"></head>


<body>
    <div th:replace="layout :: navbar"></div>

    <div id="content" class="container">
        <h1 class="form-signin-heading">Log in</h1>
        <!--        if module attribute loginError passed by loginController is true show-->
        <p th:if="${loginError}" class="alert alert-danger">Wrong username or password</p>
        <!--        if parameter logout is passed by SecurityConfig show-->
        <p th:if="${logout}" class="alert alert-success">You've been logged out</p>

        <form th:action="@{/login/}" method="post">
            <label for="username">Username</label>:
            <input type="text" id="username" name="username" autofocus="autofocus" required="true" /> <br />
            <label for="password">Password</label>:
            <input type="password" id="password" name="password" required="true" /> <br />
            <input type="submit" value="Log in" />
        </form>
    </div>

    <div th:replace="layout :: footer"></div>
</body>

</html>
