<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head"></head>

<!--CSS FOR THIS FRAGMENT-->
<link rel="stylesheet" href="../static/css/register.css" th:href=@{/css/register.css}>

<body>

    <!--    javascript for disabling spaces in username-->
    <script src="../static/js/register.js" th:src="@{/js/register.js}"></script>

    <div th:replace="layout :: navbar"></div>

    <div id="content" class="container jumbotron">
        <h1 class="form-signin-heading">Register</h1>

        <form th:object="${user}" th:action="@{/register-success/}" method="post">
            <input type="hidden" th:field="*{id}" />

            <label for="username">Username</label>:
            <input type="text" id="username" name="username" autofocus="autofocus" required="true" th:field="*{username}" pattern="[^\s]+" title="Username can't contain spaces." /> <br />

            <label for="password">Password</label>:
            <input type="password" id="password" name="password" required="true" th:field="*{password}" /> <br/>

            <label for="email">E-mail</label>:
            <input type="email" id="email" name="email" autofocus="autofocus" required="true" th:field="*{email}" /> <br />

            <label for="about">About</label>:<br />
            <!--            <input type="text" id="about" name="about" autofocus="autofocus" required="true" th:field="*{about}" /> <br />-->
            <textarea type="text" id="about" name="about" autofocus="autofocus" required="true" th:field="*{about}" cols="40" rows="5"></textarea><br />

            <input type="submit" class="btn btn-lg" />
        </form>

    </div>
    <!--    <button onclick="myFunction()">bla</button>-->
    <div th:replace="layout :: footer"></div>
</body>

</html>
